header{position: fixed; top: 0; left: 0; background-color :#A7CEC3;  z-index: 100; width :100%; padding-top: 20px; padding-bottom: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;}
.header_con{display: flex; justify-content: space-between; align-items: center;}

.header_con .my_page_con{font-size: 0; line-height: 0; flex: 0 0 auto; margin-left: 10px;}
.header_con .my_page_con > li{display: inline-block; padding-right: 10px; position: relative;}
.header_con .my_page_con > li::after{content: ''; position: absolute; top: 4px; right: 0; height: 10px; border: 1px solid rgba(0,0,0,0.3);}
.header_con .my_page_con > li:last-child{padding-right: 0; padding-left: 10px;}
.header_con .my_page_con > li:last-child::after{content: none;}
.header_con .my_page_con > li > a{font-size: 13px; font-size: 1.3rem; line-height: 19px; line-height: 1.9rem; font-weight: 300;}

.hamburger_con{width: 20px; height: 14px; cursor: pointer;}
.hamburger_con > span{display: inline-block; vertical-align: middle; width: 100%; height: 2px; background-color: #575757; margin-top: 2px;}
.hamburger_con > span::before{content: ""; display: inline-block; position: absolute; left: 0; top: 0; width: 100%; height: 2px; background-color: #575757;}
.hamburger_con > span::after{content: ""; display: inline-block; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background-color: #575757;}


.click_header_wrap{position: fixed; top: 0; right: 0; transform: translateY(-100%); transition: transform 0.2s ease; z-index: 10001; width: 100%; background-color: #A7CEC3; opacity: 0; display: flex; align-items: center; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;}
.click_header_wrap.default{opacity: 1}
.click_header_wrap.active{transform: translateY(0);}
.click_header_dim{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; opacity: 0.4; transform: translateY(100%); opacity: 0;}
.click_header_dim.open{transform: translateY(0); opacity: 0.4;}

.click_header_con{padding-top: 25px; padding-bottom: 30px;}
.click_header_con .top_con{display: flex; justify-content: space-between; align-items: center;}
.click_header_con .top_con .logo_con{width: 70px;}
.click_header_con .bottom_con ul{font-size: 0; line-height: 0;}
.click_header_con .bottom_con ul > li{display: block; text-align: right; margin-bottom: 15px;}
.click_header_con .bottom_con ul > li:last-child{margin-bottom: 0;}
.click_header_con .bottom_con ul > li > a{display: inline-block; box-sizing: border-box; font-size: 20px; font-size: 2.0rem; line-height: 26px; line-height: 2.6rem; font-weight: 500; color: #575757; background-repeat: no-repeat; padding-right: 32px;}
.click_header_con .bottom_con ul > li > a.router-link-exact-active{color: #386C5D;}
.click_header_con .bottom_con ul > li.home > a{background-image: url('../img/header_home_icon_inactive.png'); background-size: 18px 18px; background-position: right top 2px;}
.click_header_con .bottom_con ul > li.home > a.router-link-exact-active{background-image: url('../img/header_home_icon_active.png');}
.click_header_con .bottom_con ul > li.qr > a{background-image: url('../img/header_qr_icon_inactive.png'); background-size: 20px 18px; background-position: right top 2px;}
.click_header_con .bottom_con ul > li.qr > a.router-link-exact-active{background-image: url('../img/header_qr_icon_active.png');}
.click_header_con .bottom_con ul > li.notice > a{background-image: url('../img/header_notice_icon_inactive.png'); background-position: right top 2px; background-size: 19px 18px;}
.click_header_con .bottom_con ul > li.notice > a.router-link-exact-active{background-image: url('../img/header_notice_icon_active.png');}
.click_header_con .bottom_con ul > li.mypage > a{background-image: url('../img/header_mypage_icon_inactive.png'); background-position: right top; background-size: 19px 21px;}
.click_header_con .bottom_con ul > li.mypage > a.router-link-exact-active{background-image: url('../img/header_mypage_icon_active.png');}
.click_header_con .bottom_con ul > li.tree > a{background-image: url('../img/header_tree_icon_inactive.png'); background-position: right 1px top; background-size: 16px 21px;}
.click_header_con .bottom_con ul > li.tree > a.router-link-exact-active{background-image: url('../img/header_tree_icon_active.png');}
.click_header_con .bottom_con ul > li.leaf > a{background-image: url('../img/header_leaf_icon_inactive.png'); background-position: right 1px top 1px; background-size: 19px 19px;}
.click_header_con .bottom_con ul > li.leaf > a.router-link-exact-active{background-image: url('../img/header_leaf_icon_active.png');}
.click_header_con .bottom_con ul > li.card > a{background-image: url('../img/header_card_icon_inactive.png'); background-position: right 1px top 3px; background-size: 20px 14px;}
.click_header_con .bottom_con ul > li.card > a.router-link-exact-active{background-image: url('../img/header_card_icon_active.png');}

.click_header_wrap .popup_close_btn{background-image: url('../../common/img/16x16_575757_x_icon.png'); background-repeat: no-repeat; font-size: 0; line-height: 0; width: 16px; height: 16px; background-size: cover;}