.notice_list_wrap{background-color: #fff; border-radius: 20px; padding: 20px 10px;}
.notice_title > span{font-size: 15px; font-size: 1.5rem; line-height: 21px; line-height: 2.1rem; font-weight: 500; letter-spacing: -0.02em; color: #000;}
.notice_title > img{display: inline-block; vertical-align: middle; margin-bottom: 3px; margin-right: 7px;}
.notice_list_con > li{display: block; overflow: hidden; box-sizing: border-box; padding-left: 10px; padding-right: 10px; padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px solid #000;}
.notice_list_con > li:last-child{margin-bottom: 0;}
.notice_list_info_con{margin-bottom: 4px;}
.notice_list_info_con > span{font-size: 10px; font-size: 1.0rem; line-height: 16px; line-height: 1.6rem; font-weight: 500; letter-spacing: -0.02em;}
.notice_list_info_con > span:first-child{display: inline-block; box-sizing: border-box; padding-right: 10px; min-width: 70px;}
.notice_list_info_con > span:last-child{color: #575757;}
.notice_list_title > a{font-size: 15px; font-size: 1.5rem; line-height: 21px; line-height: 2.1rem; font-weight: 300; overflow: hidden; max-width: 100%; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; text-overflow: ellipsis; height: 21px;}

